* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Quicksand";
  color: white;
}

body {
  background-color: black;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: 20pt;
  border: none;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: filter 1s;
  transition: transform 0.1s;
}
button:hover {
  filter: brightness(0.9);
  transform: scale(1.1);
}

h1 {
  font-family: inherit;
  font-weight: normal;
  font-size: 35pt;
  letter-spacing: 20pt;
}

a {
  font-family: inherit;
  font-size: 15pt;
  color: #aaaaaa;
  text-decoration: inherit;

  transition: filter 1s;
  transition: font-size 0.1s;
}
a:hover {
  filter: brightness(0.9);
  font-size: 15.5pt;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;

  height: 100px;
}

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 100px;
}

#sim-content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #502050;
  z-index: -1;
}
